/* fonts */
.jqcloud {
  font-family: '微軟正黑體','Microsoft JhengHei', sans-serif!important;
  font-size: 12px;
  line-height: normal;
}

.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

/* colors */
div.jqcloud {color: #98db18;}
div.jqcloud a {color: inherit;}

.jqcloud.fresh a[href]:hover {color:#e94252!important;}
.jqcloud.fresh span.w10 a {color:#3aadb9!important;}
.jqcloud.fresh span.w9 a {color:#e68d15!important;}
.jqcloud.fresh span.w8 a {color:#843014!important;}
.jqcloud.fresh span.w7 a {color:#62693d!important;}
.jqcloud.fresh span.w6 a {color:#a8a852!important;}
.jqcloud.fresh span.w5 a {color:#785430!important;}
.jqcloud.fresh span.w4 a {color:#8db9aa!important;}
.jqcloud.fresh span.w3 a {color:#cc99cc!important;}
.jqcloud.fresh span.w2 a {color:#525a4b!important;}
.jqcloud.fresh span.w1 a {color:#9d88d6!important;}
.jqcloud.light a[href]:hover {color:#eced87!important;}
.jqcloud.light span.w10 a {color:#fdaeaa!important;}
.jqcloud.light span.w9 a {color:#f0b48b!important;}
.jqcloud.light span.w8 a {color:#f0b48b!important;}
.jqcloud.light span.w7 a {color:#bade83!important;}
.jqcloud.light span.w6 a {color:#98dee0!important;}
.jqcloud.light span.w5 a {color:#bade83!important;}
.jqcloud.light span.w4 a {color:#fdaeaa!important;}
.jqcloud.light span.w3 a {color:#90aff8!important;}
.jqcloud.light span.w2 a {color:#98dee0!important;}
.jqcloud.light span.w1 a {color:#90aff8!important;}
.jqcloud.dark a[href]:hover {color:#6b51ae!important;}
.jqcloud.dark span.w10 a {color:#6a7a52!important;}
.jqcloud.dark span.w9 a {color:#6b51ae!important;}
.jqcloud.dark span.w8 a {color:#934c74!important;}
.jqcloud.dark span.w7 a {color:#dc001a!important;}
.jqcloud.dark span.w6 a {color:#55a9f2!important;}
.jqcloud.dark span.w5 a {color:#45ce5e!important;}
.jqcloud.dark span.w4 a {color:#cc99cc!important;}
.jqcloud.dark span.w3 a {color:#99b333!important;}
.jqcloud.dark span.w2 a {color:#6a7a52!important;}
.jqcloud.dark span.w1 a {color:#c6560c!important;}
.jqcloud.blue a[href]:hover {color:#d7f1f9!important;}
.jqcloud.blue span.w10 a {color:#0055a5!important;}
.jqcloud.blue span.w9 a {color:#76c6f0!important;}
.jqcloud.blue span.w8 a {color:#2461aa!important;}
.jqcloud.blue span.w7 a {color:#a6cae1!important;}
.jqcloud.blue span.w6 a {color:#1a4aec!important;}
.jqcloud.blue span.w5 a {color:#2ac3cf!important;}
.jqcloud.blue span.w4 a {color:#2461aa!important;}
.jqcloud.blue span.w3 a {color:#1a4aec!important;}
.jqcloud.blue span.w2 a {color:#86d7d1!important;}
.jqcloud.blue span.w1 a {color:#00d7f8!important;}
.jqcloud.red a[href]:hover {color:#ffa001!important;}
.jqcloud.red span.w10 a {color:#d64e12!important;}
.jqcloud.red span.w9 a {color:#ff660a!important;}
.jqcloud.red span.w8 a {color:#972f38!important;}
.jqcloud.red span.w7 a {color:#a11c48!important;}
.jqcloud.red span.w6 a {color:#c24b37!important;}
.jqcloud.red span.w5 a {color:#c50747!important;}
.jqcloud.red span.w4 a {color:#e85a08!important;}
.jqcloud.red span.w3 a {color:#ff0000!important;}
.jqcloud.red span.w2 a {color:#ff3333!important;}
.jqcloud.red span.w1 a {color:#c50747!important;}
.jqcloud.green a[href]:hover {color:#41532e!important;}
.jqcloud.green span.w10 a {color:#233a0a!important;}
.jqcloud.green span.w9 a {color:#4d7423!important;}
.jqcloud.green span.w8 a {color:#63674c!important;}
.jqcloud.green span.w7 a {color:#6e783e!important;}
.jqcloud.green span.w6 a {color:#72c39a!important;}
.jqcloud.green span.w5 a {color:#99ac3a!important;}
.jqcloud.green span.w4 a {color:#89bd89!important;}
.jqcloud.green span.w3 a {color:#68a14a!important;}
.jqcloud.green span.w2 a {color:#70ca41!important;}
.jqcloud.green span.w1 a {color:#9eca9e!important;}
.jqcloud.gray a[href]:hover {color:#ccc!important;}
.jqcloud.gray span.w10 a {color:#2c2c2c!important;}
.jqcloud.gray span.w9 a {color:#3e3d3d!important;}
.jqcloud.gray span.w8 a {color:#646464!important;}
.jqcloud.gray span.w7 a {color:#828e82!important;}
.jqcloud.gray span.w6 a {color:#99aa99!important;}
.jqcloud.gray span.w5 a {color:#a7a7a7!important;}
.jqcloud.gray span.w4 a {color:#b9b9b2!important;}
.jqcloud.gray span.w3 a {color:#c1c1c1!important;}
.jqcloud.gray span.w2 a {color:#000!important;}
.jqcloud.gray span.w1 a {color:#adadad!important;}

/* layout */
div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }
